{%extends "layout.html"%}


{%block content%}
<form action="/predict"  class='formbox shadow' method="POST">
    
    <fieldset class="container-fluid">
        <legend>Enter Data</legend>
        <div class="mb-3">
            <label for="chas" class="form-label">CHAS</label>CHAS
            <input type="number" class="form-control" id="chas" name="CHAS" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="rm" class="form-label">RM</label>
            <input type="number" class="form-control" id="rm" name="RM" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="tax" class="form-label">Tax</label>
            <input type="number" class="form-control" id="tax" name="Tax" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="ptratio" class="form-label">PTRatio</label>
            <input type="number" class="form-control" id="ptratio" name="PTRatio" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="b" class="form-label">B</label>
            <input type="number" class="form-control" id="b" name="B" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="lstat" class="form-label">LSTAT</label>
            <input type="number" class="form-control" id="lstat" name="LSTAT" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <input class="btn btn-info" href="#" type="submit" value="Predict">
        </div>
    </fieldset>

</form>
{%endblock%}